/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}


body {
	margin: 0px;
	background-color: #D0C9C3;
	font-family: 'Montserrat', sans-serif;
}



.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: 
		'header header header header header'
		'content content content content content'
		'track track track track track'
		'content2 content2 content2 content2 content2'
		'footer footer footer footer footer';

}


/* Header / Navbar Section */
.header {
	grid-area: header;

}

.navbar {
	display: grid;
	position: relative;
	width: 100vw;
	margin: 20px;
	
	padding: 10px 24px;
	align-items: center;
	/* background-color: wheat; */
	grid-template-columns: 2fr 1.5fr;
	z-index: 99;
	/* border: 5px orange solid; */
}

.navbar h2 {
	font-size: 24px;
	letter-spacing: 2px;
	font-family: 'Cormorant SC', serif;
}

.navbar ul {
	/* border: 5px aqua solid; */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	justify-items: center;
}

.menu-list a {
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.navbar a:hover {
	font-weight: bold;
	color: #867667;
}


/* Content Section */
.main {
	display: grid;
	grid-template-rows: .2fr 1fr;
	grid-template-areas: 
		'title title'
		'image image';	
	justify-content: center;

}

.title {
	grid-area: title;
	display: grid;
	/* height: 50px; */
	padding: 10px;
	justify-items: center;
	align-items: center;
	/* background-color: burlywood; */
	
}

.title h1 {
	font-family: 'Cormorant SC', serif;
	font-size: 40px;
	letter-spacing: 2px;
	line-height: 2.4em;
}

.title h3 {
	margin-top: -20px;
	font-size: 16px;
	font-weight: 500;
}

.content {
	grid-area: content;
	display: grid;
	width: 100%;
	/* border: 5px purple solid; */
} 

/* .content-img {
	justify-items: center;
} */

.hero-img {
	max-width: 40%;
	margin: 0px auto;
	padding: 10px;
	
}

.img-div {
	grid-area: image;
	display: grid;
	/* border: 5px orange solid; */
	/* background-color: bisque; */
}

.content-img {
	width: 1fr;
	
}

.img-caption {
	font-size: 14px;
	font-weight: 500;
	margin: 0px auto;
	padding: 10px;
}




/* Discography Section */
#tribute-info {
	grid-area: content2;
	display: grid;
	margin-top: 110px; 	
}

.discograph h2 {
	font-size: 24px;
	font-weight: 700;
	padding: 20px;
	text-align: center;
}

.album-frame {
	width: 80%;
	margin: 0 auto;
	
}

#tribute-info li {
	width: 200px;
	height: 200px;
}

.album {
	position: relative;
}

.album .cover-img {
	width: 100%;
}

.album .cover-overlay {
	background-color: black;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	color: white;
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	opacity: 0;
	transition: 300ms;
	transition-timing-function: ease-in-out;
}

.album .cover-overlay:hover {
	opacity: .85;
	
}

.release-date {
	font-size: .7em;
	letter-spacing: 2px;
}

.album-name {
	font-weight: bold;
	margin-top: 5px;
	letter-spacing: 1.5px;
}

#tribute-info img {
	display: block;
}

.gallery {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
	gap: 20px;
	
}



/* Track List Section */
.track {
	grid-area: track;
	display: grid;
	margin-top: 100px;
}

.track h2 {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	padding: 20px;
}

.track ul {
	width: 30%;
	display: grid;
	grid-template-rows: repeat(13, 1fr);
	gap: 30px;
	/* border: 5px orange solid; */
	margin: auto;
	box-sizing: border-box;
	padding: 10px;
}

.track-list {
	display: flex;
	/* border: 5px aqua solid; */
}

.num-list {
	font-size: 4em;
	text-align: end;
	color: #b19781;
	font-weight: 500;
	opacity: .6;
}

.track-name {
	font-size: 1.2em;
	font-weight: 500;
	align-self: center;
	margin-left: -15px;
}

.track-list:nth-child(even) {
	flex-direction: row-reverse;
}

.track-name:nth-child(even) {
	margin-right: -15px;
}

.button {
	padding: 10px;
	background-color: transparent;
	text-align: center;
	margin-top: 48px;
	text-align: center;
}

.button a {
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	cursor: pointer;
}

.button a:hover {
	font-weight: 600;
}


/* Footer Section */
.footer {
	grid-area: footer;
	height: 100px;
	width: 100%;
	background-color: rgb(68, 42, 8);
	margin-top: 110px;
	text-align: center;
}

.footer h3 {
	font-size: 24px;
	font-weight: 500;
	color: white;
	text-align: center;
	padding: 20px;
}

.footer a {
	color: white;
	text-decoration: none;
	padding: 10px;
}

.footer ul {
	display: flex;
	justify-content: center;
}


/* Responsive Breakpoint */
@media (max-width: 768px) {
	.navbar {
		grid-template-columns: 1fr 2fr;
	}
}

@media (max-width: 576px) {
	.menu-list a {
		display: none;
	}
}

































/* Clear Fix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
